{% extends 'base.html' %}

{% block content %}
    <h1>Your Playlists</h1>

    {% if playlists %}
    <div class="playlists-container">
        {% for playlist in playlists %}
        <div class="playlist-item">
            <img src="{{ playlist.image_url }}" alt="{{ playlist.name }}">
            <h3>{{ playlist.name }}</h3>
            <a href="{{ url_for('view_playlist', playlist_id=playlist.spotify_id) }}">View Playlist</a>        
        </div>
        {% endfor %}
    {% else %}
        <p>No playlists found.</p>
    {% endif %}
    </div>
{% endblock %}

